.idea/*
AuthFile.py
twitter/account_tweets/
twitter/audiences/
twitter/grams_folder/
test.py
__pycache__
twitter/bad_ids.csv
twitter/done_accounts.csv
companies_house/companies_uk.csv
go.sh
test*.py
utils/config.yaml